.deckbuilder {
	&-card {
		position: relative;
		flex-shrink: 0;
		height: 20em;
		width: 14.4em;
		border-radius: 0.6em;
		overflow: hidden;
		background: black;
		&-name {
			padding: 0 1em;
			background: gray;
			color: black;
		}
		&-button {
			cursor: pointer;
		}
		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}
