.deck-player-card-stack {
	display: flex;
	&-untapped {
		margin-right: 14em;
		display: flex;
		justify-content: flex-end;
	}
	&-tapped {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
	&-item {
		height: 14em;
		width: 10.1em;
		border-radius: 0.4em;
		&-untapped {
			margin-right: -11.5em;
		}
		&-tapped {
			transform: rotate(90deg) translate(2em,-2em);
		}
	}
}
