.deck-player-card-stack {
	display: flex;
	flex-direction: column-reverse;
	flex-shrink: 0;
	&-untapped {
		height: 14em;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	&-tapped {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	&-item {
		height: 14em;
		width: 10.1em;
		border-radius: 0.4em;
		&-untapped {
			margin-right: -8.5em;
		}
		&-tapped {
			margin-top:-14em;
			margin-right:-8.59em;
			transform: rotate(90deg) translateX(4em);
			transform-origin: bottom left;
		}
	}
}
