@import "~normalize.css/normalize.css";
@import "../repo/mana-cost/css/mana-cost.css";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@font-face {
	font-family: "Beleren Bold";
	src:url("../fonts/BELEREN-BOLD.eot");
	src:url("../fonts/BELEREN-BOLD.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BELEREN-BOLD.woff") format("woff"),
		url("../fonts/BELEREN-BOLD.svg") format("svg");
}

$sans-serif: Ariel, sans-serif;
$beleren: 'Beleren Bold', $sans-serif;

$background-color: rgba(168, 168, 168, 0.3);
$opaque-background-color: #c5c5c5;
$dark-background-color: rgba(100, 100, 100, 0.3);
$text-color: #333;
$light-text-color: #888;
$bright-green: #00bd00;
$bright-green-hover: #d8ffe6;
$dark-green: #2a402a;
$dark-green-hover: #1d541d;

$breakpoint-small: 40em;
$breakpoint-big: 60em;


div.roguebuilder {
	.hidden-input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	h1 {
		font-family: $beleren;
		font-size: 2em;
		margin: 0.2em;
	}
	h2 {
		font-style: italic;
		font-size: 1.4em;
		margin: 0.2em;
	}
	h3 {
		font-style: italic;
		font-size: 1.2em;
		margin: 0.1em;
	}
	div.decklist {
		font-family: $sans-serif;
		color: $text-color;
		max-width: 59em;
		@media (max-width: $breakpoint-big) {
			max-width: 39em;
		}
		@media (max-width: $breakpoint-small) {
			max-width: 28em;
		}
	}
	div.head {
		position: relative;
		h1 {
			display: inline;
			@media (max-width: $breakpoint-big) {
				display: block;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		span.price {
			color: $light-text-color;
			font-size: 0.9em;
			@media (max-width: $breakpoint-big) {
				display: inline-block;
				margin-left: 0.5em;
				margin-top: 0.25em;
				margin-bottom: 0.25em;
			}
			@media (max-width: $breakpoint-small) {
				display: block;
			}
		}
		div.select {
			width: 18em;
			text-align: right;
			position: absolute;
			left: 38.5em;
			bottom: 0.4em;
			span {
				font-size: 0.8em;
			}
			@media (max-width: $breakpoint-big) {
				left: 18.5em;
			}
			@media (max-width: $breakpoint-small) {
				text-align: left;
				position: relative;
				margin-left: 0.5em;
				margin-bottom: 0.5em;
				bottom: 0;
				left: auto;
			}
		}
	}
	div.body {
		position: relative;
		min-height: 28em;
		background: $background-color;
		font-size: 0.9em;
		display: flex;
		@media (max-width: $breakpoint-small) {
			flex-direction: column;
			padding-top: 36em;
		}
		div.main-menu {
			.menu-item {
				padding: 0.2em 0.75em;
				margin: 1em;
				border-radius: 0.2em;
				text-align: center;
				width: 90%;
				font-size: 2em;
			}
			.file-upload {
				cursor: pointer;
				width: 2em;
				padding: 0.25em 0.5em;
				background-color: $dark-green;
				color: $bright-green;
				&:hover {
					transition: all 1s ease;
					background-color: $dark-green-hover;
					color: $bright-green-hover;
				}
			}
		}
		div.lists {
			margin-top: 0.5em;
			width: 44em;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;
			@media (max-width: $breakpoint-big) {
				width: 22em;
				height: auto !important;
			}
		}
	}
	div.card-list {
		width: 20em;
		padding: 0.25em 1em;
		table {
			border-collapse: collapse;
			margin: 0.5em;
			width: 19em;
			position: relative;
		}
		tr {
			cursor: pointer;
			&:hover {
				background: $dark-background_color;
			}
		}
		td {
			padding: 0.25em;
			padding-right: 0.1em;
		}
		td.quantity {
			text-align: right;
			width: 2.5em;
		}
		div.card-name {
			font-family: $beleren;
			display: inline-block;
			white-space: nowrap;
			transform-origin: left;
			max-width: 16em;
		}
		div.mana-cost {
			display: inline-block;
			position: absolute;
			right: 0.2em;
		}
	}
	div.preview-track {
		pointer-events: none;
		@media (max-width: $breakpoint-small) {
			position: absolute;
			top: 0;
			bottom: 3vh;
		}
	}
	div.preview-frame {
		pointer-events: all;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		@media (max-width: $breakpoint-small) {
			height: auto;
			padding-top :0;
			margin-bottom: 0;
		}
		height: 28em;
		span {
			padding-left: 3em;
			font-size: 0.8em;
		}
	}
	div.preview-frame.fixed {
		position: fixed;
		top: 0;
		@media (max-width: $breakpoint-small) {
			top: -1em;
		}
	}
	div.preview-frame.bottom {
		position: absolute;
		bottom: 0;
	}
	div.preview {
		padding-bottom: 0.5em;
		margin: 1em 1em 0.2em 1em;
		@media (max-width: $breakpoint-small) {
			background: $opaque-background-color;
			padding-bottom: 1vh;
		}
	}
	div.preview-img{
		height: 25em;
		overflow: hidden;
		border-radius: 0.8em;
		@media (max-width: $breakpoint-small) {
			width:80vw;
			max-width: 24em;
			height: auto;
		}
		img {
			@media (max-width: $breakpoint-small) {
				width:100%;
				height: auto;
			}
			height:100%
		}
	}
}
