@import url("http://gatherer.wizards.com/Styles/fonts/Beleren/Beleren-Bold.css");

$sans-serif: Ariel, sans-serif;
$beleren: 'beleren-bold', $sans-serif;

$background-color: rgba(168, 168, 168, 0.3);
$dark-background-color: rgba(100, 100, 100, 0.3);
$text-color: #333;


div.roguebuilder {
	div.decklist {
		font-family: $sans-serif;
		color: $text-color;
	}
	div.title {
		font-family: $beleren;
		font-size: 2em;
	}
	div.body {
		background: $background-color;
		font-size: 0.9em;
		display: flex;
		columns: 3;
	}
	div.card-list {
		padding: 1em;
		div.title {
			font-family: $beleren;
			font-size: 1.4em;
		}
		ul {
			list-style: none;
		}
		li {
			cursor: pointer;
			padding: 0.2em 0.1em;
		}
		li:hover {
			background: $dark-background_color;
		}
	}
	div.preview {
		width: 18em;
		margin-top: 1em;
	}
	img {
		width: 100%;
	}
}
