@import url("http://gatherer.wizards.com/Styles/fonts/Beleren/Beleren-Bold.css");

$sans-serif: Ariel, sans-serif;
$beleren: 'beleren-bold', $sans-serif;

$background-color: rgba(168, 168, 168, 0.3);
$opaque-background-color: #c5c5c5;
$dark-background-color: rgba(100, 100, 100, 0.3);
$text-color: #333;

$breakpoint-small: 38em;
$breakpoint-big: 56em;


div.roguebuilder {
	div.decklist {
		font-family: $sans-serif;
		color: $text-color;
		max-width: 55em;
		@media (max-width: $breakpoint-big) {
			max-width: 37em;
		}
		@media (max-width: $breakpoint-small) {
			max-width: 26em;
		}
	}
	div.head {
		position: relative;
		h1 {
			display: inline;
			@media (max-width: $breakpoint-big) {
				display: block;
			}
		}
		span.price {
			@media (max-width: $breakpoint-small) {
				display: block;
				margin-bottom: 1em;
			}
		}
		div.select {
			width: 14em;
			position: absolute;
			bottom: 0.4em;
			left: 37em;
			span {
				font-size: 0.8em;
			}
			@media (max-width: $breakpoint-big) {
				left: 21.5em;
			}
			@media (max-width: $breakpoint-small) {
				position: relative;
				margin-left: 0.5em;
				left: auto;
			}
		}
	}
	h1 {
		font-family: $beleren;
		font-size: 2em;
		margin: 0.2em;
	}
	h2 {
		font-family: $beleren;
		font-size: 1.4em;
		margin: 0.2em;
	}
	h3 {
		font-family: $beleren;
		font-size: 1.2em;
		margin: 0.1em;
	}
	div.body {
		position: relative;
		min-height: 28em;
		background: $background-color;
		font-size: 0.9em;
		display: flex;
		@media (max-width: $breakpoint-small) {
			flex-direction: column;
			padding-top: 36em;
		}
		div.lists {
			margin-top: 0.5em;
			width: 40em;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;
			@media (max-width: $breakpoint-big) {
				width: 20em;
				height: auto !important;
			}
		}
	}
	div.card-list {
		width: 18em;
		padding: 0.25em 1em;
		table {
			border-collapse: collapse;
			margin: 0.5em;
			width: 17em;
		}
		tr {
			cursor: pointer;
		}
		tr:hover {
			background: $dark-background_color;
		}
		td {
			padding: 0.25em;
			padding-right: 0.1em;
		}
		td.quantity {
			text-align: right;
			padding-left: 1em;
			width: 1.5em;
		}
		span.card-name {
			font-family: $beleren;
		}
		span.mana-cost {
			float: right;
		}
	}
	div.preview-track {
		pointer-events: none;
		@media (max-width: $breakpoint-small) {
			position: absolute;
			top: 0;
			bottom: 3vh;
		}
	}
	div.preview-img{
		height: 25em;
		@media (max-width: $breakpoint-small) {
			width:80vw;
			max-width: 24em;
			height: auto;
		}
		img {
			@media (max-width: $breakpoint-small) {
				width:100%;
				height: auto;
			}
			height:100%
		}
	}
	div.preview {
		padding-bottom: 0.5em;
		margin: 1em 1em 0.2em 1em;
		@media (max-width: $breakpoint-small) {
			background: $opaque-background-color;
			padding-bottom: 1vh;
		}
	}
	div.preview-frame {
		pointer-events: all;
		padding-top:1em;
		@media (max-width: $breakpoint-small) {
			height: auto;
			padding-top:0;
		}
		height: 28em;
		span {
			padding-left: 3em;
			font-size: 0.8em;
		}
	}
}
